@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

#dragger_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #344150;
    padding: 40px;
    border-radius: 10px;
}

#dragger{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #fbfbfb;
    background-color: #4DAAA7;
    border-radius: 10px;
}

#dragger img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#icon{
    color: #ffffff;
    font-size: 45px;
    margin: 10px 0;
}

h2, h3{
    margin: 5px 0;
    color: #ffffff;
}

.browseFileBtn{
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #333333;
}